RELEASE-VERSION
*.egg-info
*.hex
*.pyc
.ropeproject
*/Arduino/*/Config.h
setup.py
paver-minilib.zip
dist/*
build/*
*/*_pb2.py
*/Arduino/*/*RPCBuffer.h
*/Arduino/*/*CommandProcessor.h
*/Arduino/*/*_pb.*
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
arduino_rpc/protobuf_commands.py
.ipynb_checkpoints
*/node.py
*/config.py
